ul.icon-list {
  --icon-space: 1.3em;
  list-style: none;
  padding: 0;
}

li.icon-list-item {
  position: relative;
  /* 부모를 기준으로 위치 */
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  padding-left: var(--icon-space);
  /* 아이콘 공간 확보 */
}

li.icon-list-item:before {
  content: '\f00c';
  font-family: FontAwesome;
  position: absolute;
  left: 0;
  display: inline-block;
  width: var(--icon-space);
}
